<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="header_logo">
        <h1 style="color: white">Blog App</h1>
      </div>
      <div class="Enter_Box">
        <a href="/article/"
          ><button id="artcileForm_button">Article Form</button></a
        >
        <a href="/users/">
          <button id="register_button">Register</button>
        </a>
        <a href="/users/login">
          <button id="login_button">Login</button>
        </a>
      </div>
    </header>
    <div class="articles_unique_box">
      <h1><%=articleData.title%></h1>
      <p><%=articleData.description%></p>
      <p><%=articleData.author%></p>
      <div>
        <label> Likes </label>
        <p class="likes_count">:<%=articleData.likes%></p>
      </div>
    </div>
    <form action="/article/<%=articleData.id %>/comment" method="POST">
      <textarea name="content" rows="3" placeholder="Add comments"></textarea>
      <input
        style="display: block; background-color: green; color: white"
        type="submit"
        value="add comment"
      />
    </form>
  </body>
</html>
